# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: DH2 CI - Test Pull Requests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
        os: [ubuntu-latest, windows-latest, macOS-latest]    
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: CI npm
      run: npm ci
    - name: Build DH2
      run: npm run build --if-present
    - name: start DH2 server instance
      run: node pokemon-showdown
    - name: Sleep for 60 seconds
      run: Start-Sleep -s 60
      shell: bash
    - name: stop DH2
      run: killall node
      shell: bash